/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif TC", "Noto Sans TC", serif, sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5.6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.4rem;
}

b {
  font-weight: 500;
}

p {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

/* reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif TC", "Noto Sans TC", serif, sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5.6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.4rem;
}

b {
  font-weight: 500;
}

p {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  height: 72px;
  width: 100%;
}

header .wapper {
  height: 72px;
  width: 100%;
  background-color: #0c3141;
  padding: 0 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1440px) {
  header .wapper {
    padding: 0 60px;
  }
}

@media (max-width: 1024px) {
  header .wapper {
    padding: 0 35px;
  }
}

header .wapper .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .wapper .home:before {
  content: "";
  height: 48px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .wapper .home img {
  height: 32px;
  width: 180px;
}

@media (max-width: 768px) {
  header .wapper nav .hamburger {
    height: 32px;
    width: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  header .wapper nav .hamburger:hover .hamburger-btn {
    background-color: #f5d000;
  }
  header .wapper nav .hamburger:before {
    content: "";
    height: 48px;
    width: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 768px) {
  header .wapper nav .hamburger .hamburger-btn {
    height: 2px;
    width: 100%;
    background-color: #ccae00;
  }
}

header .wapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  header .wapper nav ul {
    height: calc(100vh - 72px);
    width: 100vw;
    background-color: #104156;
    position: absolute;
    top: 72px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

header .wapper nav ul li {
  margin: 0 20px;
}

@media (max-width: 1024px) {
  header .wapper nav ul li {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  header .wapper nav ul li {
    height: 48px;
    margin: 0;
    border-bottom: 1px solid #165B79;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .wapper nav ul li:first-child {
  margin-left: 0;
}

header .wapper nav ul li:last-child {
  margin-right: 0;
}

header .wapper nav ul li a:hover h6 {
  color: #f5d000;
}

header .wapper nav ul li a:hover h6:before {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .wapper nav ul li a h6 {
  color: #ccae00;
  position: relative;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

header .wapper nav ul li a h6:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ccae00;
  position: absolute;
  bottom: -7px;
  right: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

header .wapper nav ul li a h6:after {
  content: "";
  height: 48px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .wapper nav > .selected {
  display: block;
}

p {
  font-size: 1.4rem;
  line-height: 37px;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  min-height: 100vh;
}

main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/back.jpg");
  position: absolute;
  top: 0;
  left: 0;
}

main .container {
  width: 100%;
  position: relative;
  padding-left: 150px;
}

@media (max-width: 768px) {
  main .container {
    padding-left: 10px;
  }
}

main .container ul {
  vertical-align: middle;
}

main .container ul li {
  list-style: none;
  position: relative;
  margin: auto;
  color: black;
}

main .container ul li:hover .information {
  width: 100%;
  height: 204px;
  margin-bottom: 0px;
}

main .container ul li .information {
  width: 100%;
  height: 204px;
  background-color: rgba(255, 255, 255, 0.56);
  color: black;
  margin-bottom: -204px;
  position: absolute;
  bottom: 0px;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 30px 0px 0px 30px;
}

main .container ul li:nth-child(1) {
  padding: 150px 0px 0px 60px;
}

main .container ul li:nth-child(2) {
  background-image: url("../img/01.jpg");
  background-size: cover;
}

main .container ul li:nth-child(3) {
  background-image: url("../img/02.jpg");
  background-size: cover;
}

main .container ul li:nth-child(4) {
  background-image: url("../img/03.jpg");
  background-size: cover;
}

main .container ul li:nth-child(5) {
  background-image: url("../img/04.jpg");
  background-size: cover;
}

main .container ul li:nth-child(6) {
  background-image: url("../img/05.jpg");
  background-size: cover;
}

main .container ul li:nth-child(7) {
  background-image: url("../img/06.jpg");
  background-size: cover;
}

main .container ul li:nth-child(8) {
  background-image: url("../img/07.jpg");
  background-size: cover;
}

main .container ul li:nth-child(9) {
  background-image: url("../img/08.jpg");
  background-size: cover;
}

main .container ul li:nth-child(10) {
  background-image: url("../img/09.jpg");
  background-size: cover;
}

main .container ul li:nth-child(11) {
  background-image: url("../img/10.png");
  background-size: cover;
}

main .container ul li:nth-child(12) {
  background-image: url("../img/11.jpg");
  background-size: cover;
}

main .container ul li:nth-child(13) {
  background-image: url("../img/12.png");
  background-size: cover;
}

main .btnright {
  height: 70px;
  width: 70px;
  background-image: url(../img/right-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: fixed;
  right: 15%;
  bottom: 10%;
}

@media (max-width: 768px) {
  main .btnright {
    height: 50px;
    width: 50px;
  }
}

main .btnleft {
  height: 70px;
  width: 70px;
  background-image: url(../img/right-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: fixed;
  left: 15%;
  bottom: 10%;
}

@media (max-width: 768px) {
  main .btnleft {
    height: 50px;
    width: 50px;
  }
}

.container ul {
  position: relative;
  left: 0;
  top: 50%;
  overflow: hidden;
  padding-right: 25px;
  white-space: nowrap;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container ul li {
  position: relative;
  width: 410px;
  height: 530px;
  overflow: hidden;
  vertical-align: top;
  background: green;
  display: inline-block;
}

.container ul li:nth-child(odd) {
  background: white;
}
/*# sourceMappingURL=newstyle.css.map */