@import "common";

$header-hight: 72px;

header {
    height: $header-hight;
    width: 100%;

    .wapper {
        height: $header-hight;
        width: 100%;
        background-color: #0c3141;

        padding: 0 $space-X-large;

        position: fixed;
        top: 0;
        left: 0;
        z-index: $header;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include pc-small {
            padding: 0 $space-large;
        }

        @include laptop {
            padding: 0 $space-medium;
        }
        .home {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            &:before {
                content: "";

                height: 48px;
                width: 100%;

                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
            }

            img {
                height: 32px;
                width: 180px;
            }
        }

        nav {
            .hamburger{
                @include pad {
                    height: 32px;
                    width: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    position: relative;
                    &:hover .hamburger-btn{
                        background-color: #f5d000;
                    }

                    &:before{
                        content: "";
                        height: 48px;
                        width: 48px;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    
                }
                .hamburger-btn{
                    @include pad {
                        height: 2px;
                        width: 100%;
                        background-color: #ccae00;
                        
                    }
                }
            }
            
            
            ul {
                display: flex;
                @include pad {
                    height: calc(100vh - #{$header-hight});
                    width: 100vw;
                    background-color:  #104156;
                    
                    position: absolute;
                    top: $header-hight;
                    left: 0;

                    flex-direction: column;
                    display:none;
                }
                li {
                    margin: 0 20px;

                    @include laptop {
                        margin: 0 10px;
                    }

                    @include pad {
                        height: 48px;
                        margin: 0;
                        border-bottom: 1px solid #165B79;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        &:hover h6 {
                            color: #f5d000;
                        }
                        &:hover h6:before {
                            transform-origin: right;
                            transform: scale(1);
                        }

                        h6 {
                            color: #ccae00;

                            position: relative;

                            transition: color 0.25s ease-out;

                            
                            &:before {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background: #ccae00;

                                position: absolute;
                                bottom: -7px;
                                right: 0;

                                transform: scaleX(0);
                                transform-origin: left;
                                transition: 0.25s ease-out;
                            }

                            &:after {
                                content: "";

                                height: 48px;
                                width: 100%;

                                position: absolute;
                                top: 50%;
                                left: 50%;

                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
            &>.selected{
                display:block;
            }
        }
    }
}
