$header-hight: 72px;

header {
    height: $header-hight;
    width: 100vw;
    
    .wapper {
        height: $header-hight;
        width: 100%;
        background-color: #0c3141;

        padding: 0 $space-X-large;

        position: fixed;
        top: 0;
        left: 0;
        z-index: $header;

        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .home {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: "";

                height: 100%;
                width: 100%;

                position: absolute;
                top: 0;
                left: 0;
            }
            img {
                height: 32px;
                width: 180px;
            }
        }
        @include pad {
            .hamburger{
                display: flex;
                align-items: center;
                justify-content: center;
                .hamburger-btn{
                    background-color: violet;
                    height: 32px;
                    width: 32px;
                }
            }
        }
        

        nav {
            @include pad {
                height: calc(100vh - #{$header-hight});
                width: 100%;
                background-color: #104156;

                position: absolute;
                top: $header-hight;
                left: 0;
                display:none;
                &.selected{
                    display:block;
                }
            }
            ul {
                height: 100%;

                display: flex;
                align-items: stretch;
                @include pad {
                    flex-direction: column;
                    align-items: stretch;
                }

                li {
                    margin: 0 20px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    @include pad {
                        height: 56px;
                        margin: 0;
                    }

                    a {
                        height: 100%;
                        
                        overflow: hidden;

                        &:hover p {
                            color: rgba(255, 255, 255, 1);
                        }
                        &:hover p:before {
                            transform-origin: right top;
                            transform: scale(1);
                        }

                        p {
                            height: 100%;
                            color: rgba(255, 255, 255, 0.35);
                            line-height: $header-hight;
                            position: relative;
                            transition: 0.2s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                            @include pad {
                                line-height: 56px;
                                margin: 0 20px;
                                text-align: center;
                                border-bottom: 1px solid #134E67;
                            }

                            &:before {
                                content: "";
                                width: 100%;
                                height: 2px;
                                background: rgba(255, 255, 255, 0.3);

                                position: absolute;
                                bottom: 0;
                                left: 0;

                                transform: scaleX(0);
                                transform-origin: left top;
                                transition: 0.2s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}