@import "common";
@import "header";
@import "home-var";

html {
    font-size: 62.5%; //設定回歸到10px（原本是16px，乘以62.5%後就為10px）
    @include pc-small {
        font-size: 53.57%;
    }

    @include laptop {
        font-size: 35.71%;
    }
}

/* 樣式 */
main {
    height: calc(100vh - #{$header-hight});
    width: 100vw;
    background-color: #000000;
    // 六角形
    .slideMask {
        position: fixed;
        z-index: $hidden;
    }

    // subnav
    .swiper-container {
        height: 100%;
        width: 100%;

        .swiper-slide {
            overflow: hidden;

            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            .subnav_container {
                z-index: index($elements, subnav_container);

                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;

                .textbox {
                    width: calc(#{$pc-width} + #{$space-large} * 2);

                    position: relative;
                    z-index: index($elements, textbox);

                    @include pc-small {
                        width: calc(#{$pc-small-width} + #{$space-medium} * 2);
                    }

                    @include laptop {
                        width: calc(#{$laptop-width} + #{$space-medium} * 2);
                    }

                    .subnav_wapper {
                        height: $pc-height;
                        width: calc(#{$pc-width} + #{$space-large} * 2);

                        position: absolute;
                        top: calc((#{$pc-height} + #{$space-large}) * -1);
                        left: 0;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: stretch;

                        @include pc-small {
                            height: $pc-small-height;
                            width: calc(#{$pc-small-width} + #{$space-medium} * 2);
                            top: calc((#{$pc-small-height} + #{$space-medium}) * -1);
                        }

                        @include laptop {
                            height: $laptop-height;
                            width: calc(#{$laptop-width} + #{$space-medium} * 2);
                            top: calc((#{$laptop-height} + #{$space-medium}) * -1);
                        }

                        .subnav {
                            padding: $space-medium 0;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .wapper {
                                margin-bottom: $space-medium;

                                @include laptop {
                                    margin-bottom: $space-small;
                                }

                                h5 {
                                    padding-left: 1.204em;

                                    font-weight: 300;
                                    letter-spacing: 0.43em;
                                    color: #ffffff;

                                    transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                                    &.hover {
                                        padding-left: 1.76em;
                                    }
                                }

                                h2 {
                                    padding-left: 0.43em;

                                    letter-spacing: 0.43em;
                                    text-align: center;
                                    color: #ffffff;

                                    transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                                    &.hover {
                                        letter-spacing: 0.63em;
                                        padding-left: 0.63em;
                                    }
                                }
                            }

                            p {
                                padding-left: 6px;

                                letter-spacing: 6px;
                                color: #ffffff;

                                position: relative;

                                &:before {
                                    content: "";
                                    height: 2px;
                                    width: 100%;
                                    background: #ffffff;
                                    opacity: 0.3;

                                    position: absolute;
                                    bottom: -7px;
                                    left: 0;

                                    transform: scaleX(0);
                                    transform-origin: left top;
                                    transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                                }

                                &.hover {
                                    &:before {
                                        transform-origin: right top;
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                    }
                }

                .sixAngle {
                    height: $pc-height;
                    width: $pc-width;
                    clip-path: url(#pc);
                    margin-bottom: $space-large;

                    z-index: index($elements, sixAngle);

                    @include pc-small {
                        height: $pc-small-height;
                        width: $pc-small-width;
                        clip-path: url(#pc-small);
                        margin-bottom: $space-medium;
                    }

                    @include laptop {
                        height: $laptop-height;
                        width: $laptop-width;
                        clip-path: url(#laptop);
                        margin-bottom: $space-medium;
                    }

                    .background {
                        height: calc(100vh - #{$header-hight});
                        width: 100vw;

                        filter: brightness(0.85); //亮度
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        position: absolute;
                        top: 0;
                        left: 0;

                        transform: scale(1.3, 1.3);
                        transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                        &.hover {
                            transform: scale(1.15, 1.15);
                        }
                    }
                }
            }

            > .background {
                height: 100%;
                width: 100%;

                filter: brightness(0.7); //亮度
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                position: absolute;
                top: 0;
                left: 0;
                z-index: index($elements, swiper-slide-background);

                transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                &.hover {
                    transform: scale(1.15, 1.15);
                }
            }
            // .background {
            //     background-image: url(https://placem.at/places?w=1920&h=1080&txt=0);
            // }1-4
            .link-1 {
                background-image: url(../img/home/1-4.jpg);
            }
            .link-2 {
                background-image: url(../img/home/2-1.jpg);
            }
            .link-3 {
                background-image: url(../img/home/3-2.webp);
            }
            .link-4 {
                background-image: url(../img/home/4-1.jpg);
            }
        }
        .swiper-pagination{
            width: unset;
            left: unset;
            bottom: unset;
            right: $space-X-large;
            top: calc(50% + #{$pc-height}/2);

            @include pc-small {
                top: calc(50% + #{$pc-small-height}/2);
            }

            @include laptop {
                top: calc(50% + #{$laptop-height}/2);
            }


            
            .swiper-pagination-bullet {
                font-family: "Noto Sans TC", sans-serif;
                width: 8px;
                height: 8px;
                text-align: center;
                margin: 0 $space-small;
                line-height: 8px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0);
                opacity: 0.3;
                background: #ffffff;
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
              }
          
              .swiper-pagination-bullet-active {
                opacity: 1;
                color: #fff;
                background: rgba(0, 0,
                 0, 0);
                position: relative;
                &:before {
                    content: "";
                    height: 2px;
                    width: calc(100% + #{$space-x-small});
                    background: #ffffff;
                    opacity: 0.3;

                    position: absolute;
                    bottom: -7px;
                    left: 50%;

                    transform-origin: right top;
                    transform: scale(1);
                    transform: translateX(-50%);
                    transition: 0.5s cubic-bezier(0.19, 0.77, 0.28, 0.9);
                }

               
                
              }
        }
       

        //右側控制器
        .swiper-button-next {
            width: unset;

            top: calc(50% - #{$space-large});
            right: $space-X-large;
            &:hover .line {
                opacity: 1;
                transform: scale(1.15, 1.15) translateX(-7.5%);
            }
            .line {
                width: calc(#{$space-large} + #{$space-medium});
                height: 2px;
                background-color: #ffffff;
                opacity: 0.3;

                position: relative;

                transition: 0.3s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                &::before {
                    content: "";
                    height: 2px;
                    width: calc(#{$space-small} + #{$space-x-small});
                    background-color: #ffffff;

                    position: absolute;
                    right: 0;
                    top: 50%;

                    transform-origin: center right;
                    transform: translateY(-50%) rotate(40deg);
                }
                &::after {
                    content: "";
                    height: 2px;
                    width: calc(#{$space-small} + #{$space-x-small});
                    background-color: #ffffff;

                    position: absolute;
                    right: 0;
                    top: 50%;

                    transform-origin: center right;
                    transform: translateY(-50%) rotate(-40deg);
                }
            }
            &::after {
                content: "";
            }
        }

        //左側控制器
        .swiper-button-prev {
            width: unset;

            top: calc(50% - #{$space-large});
            left: $space-X-large;
            &:hover .line {
                opacity: 1;
                transform: scale(1.15, 1.15) translateX(+7.5%);
            }
            .line {
                width: calc(#{$space-large} + #{$space-medium});
                height: 2px;
                background-color: #ffffff;
                opacity: 0.3;

                position: relative;

                transition: 0.3s cubic-bezier(0.19, 0.77, 0.28, 0.9);

                &::before {
                    content: "";
                    height: 2px;
                    width: calc(#{$space-small} + #{$space-x-small});
                    background-color: #ffffff;

                    position: absolute;
                    left: 0;
                    top: 50%;

                    transform-origin: center left;
                    transform: translateY(-50%) rotate(40deg);
                }
                &::after {
                    content: "";
                    height: 2px;
                    width: calc(#{$space-small} + #{$space-x-small});
                    background-color: #ffffff;

                    position: absolute;
                    left: 0;
                    top: 50%;

                    transform-origin: center left;
                    transform: translateY(-50%) rotate(-40deg);
                }
            }
            &::after {
                content: "";
            }
        }
    }
}
