#slide{
    position: relative;
    max-width: 600px;
  
    img{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: .8s;
        &:first-child{
            position: static;}
        &.show{
            opacity: 1;
            visibility: visible;
        }}
    .prev, .next{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: .4s;
        background-color: rgba(0,0,0,.12);
        padding: 14px 12px;
        &:hover{
            background-color: rgba(0,0,0,.24);}
        &:after{
            display: block;
           
            width: 10px;
            height: 10px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;}}
    .prev{
        left: 0;
        &:after{
            transform: rotate(-135deg);
            margin-left: 4px;}}
    .next{
        right: 0;
        &:after{
            transform: rotate(45deg);
            margin-right: 4px;}}
}